@import url(assets/fonts/fonts.css);
html {
  margin: 0; }

body {
  margin: 0;
  background: url("assets/dom.jpg") center center no-repeat;
  background-size: cover; }

.title {
  padding: 20px; }
  .title h3 {
    text-transform: uppercase;
    font-size: 60px; }
    .title h3 span:first-of-type {
      color: #dfdfdf;
      font-family: Uni-Neue-Heavy; }
    .title h3 span:last-of-type {
      color: #f4e04d;
      font-family: Uni-Neue-Regular; }

.last-day {
  margin: 20px 0 0;
  border: 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white; }
  .last-day .last-day-wrapper {
    width: 80%;
    display: block;
    margin: 0 auto; }
    .last-day .last-day-wrapper .active-customers, .last-day .last-day-wrapper .opened-wallets {
      text-align: center;
      display: inline-block;
      color: white;
      padding: 10px; }
      .last-day .last-day-wrapper .active-customers .wrapper p:first-of-type, .last-day .last-day-wrapper .opened-wallets .wrapper p:first-of-type {
        font-size: 48px;
        font-family: Uni-Neue-Book;
        margin: 0;
        line-height: 48px; }
      .last-day .last-day-wrapper .active-customers .wrapper p:last-of-type, .last-day .last-day-wrapper .opened-wallets .wrapper p:last-of-type {
        font-size: 24px;
        font-family: Uni-Neue-Bold;
        margin: 0;
        line-height: 24px; }
      .last-day .last-day-wrapper .active-customers .wrapper span, .last-day .last-day-wrapper .opened-wallets .wrapper span {
        display: block;
        font-family: Uni-Neue-Book;
        font-size: 18px;
        color: #6b6b6b; }

.map {
  padding: 0 26px; }

hr {
  border: 2px solid white;
  width: 100%;
  margin: 10px 40px 20px; }

.customers-total {
  margin: 20px;
  background-color: #f4e04d;
  text-transform: uppercase;
  padding: 10px; }
  .customers-total .wrapper p {
    font-family: Uni-Neue-Book;
    font-size: 60px;
    margin: 0;
    line-height: 60px; }
  .customers-total .wrapper span {
    display: block;
    font-size: 24px; }

article.actions {
  color: #fff;
  border-left: 1px dotted white; }
  article.actions hr {
    border: 1px solid #fff;
    width: 80%; }
  article.actions h4 {
    margin-left: 68px;
    font-size: 24px;
    font-family: Uni-Neue-Bold;
    text-transform: uppercase; }
  article.actions section.recent-location .locations-wrapper {
    padding: 0 40px; }
  article.actions section.total-actions p {
    font-family: Uni-Neue-Book;
    font-size: 48px; }

article.piggy-bank {
  padding-left: 40px; }
  article.piggy-bank .piggy-bank-wrapper h4.piggy-bank-title {
    color: #fff;
    font-family: Uni-Neue-Bold;
    font-size: 24px;
    text-transform: uppercase; }
    article.piggy-bank .piggy-bank-wrapper h4.piggy-bank-title span {
      color: #a7a7a7;
      font-family: Uni-Neue-Book; }
  article.piggy-bank .piggy-bank-wrapper .chart {
    background-color: #6f672d;
    height: 80px;
    width: 100%; }

article.hot {
  border: 0;
  border-left: 1px dotted #fff; }
  article.hot .hot-wrapper h4.hot-title {
    color: #fff;
    font-family: Uni-Neue-Bold;
    font-size: 24px;
    text-transform: uppercase; }
  article.hot .hot-wrapper span {
    color: #a7a7a7;
    font-family: Uni-Neue-Book; }
  article.hot .hot-wrapper .wrapper h3 {
    font-size: 48px;
    color: #fff;
    font-family: Uni-Neue-Regular; }
  article.hot .hot-wrapper .wrapper hr {
    width: 40px;
    border: 3px solid #f4e04d;
    margin: 10px auto; }
  article.hot .hot-wrapper .wrapper p {
    font-family: Uni-Neue-Bold;
    font-size: 24px;
    color: #fff; }

.marker-green {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer; }

.marker-yellow {
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer; }

.marker-yellow-wrapper {
  border: 1px solid yellow;
  border-radius: 50%;
  background-color: rgba(244, 224, 77, 0.5); }

.marker-green-wrapper {
  border: 1px solid green;
  border-radius: 50%;
  background-color: rgba(114, 179, 45, 0.5); }

/*# sourceMappingURL=style.css.map */
